:root {
    --blue:#2B3238;
/*     --brown-soft:#F2EBDC; */
    --brown-soft:#FDFDFD;
/*     --brown-intense: #D9D2C5; */
    --brown-intense:#E9E9E9;
    --turkey: #4D6C73;
    --turkery-intense: #012E40;

    --black: #2B3238;
    --just-white:#F2EBDC;
}
html {
    font-family: 'Quicksand', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: GT-Walsheim-Black;
    src: url('../fuentes/GT-Walsheim-Black.ttf');
}
h1,h2,h3,h4,h5,h6 {
    font-family: GT-Walsheim-Black;
    color: var(--blue);
    

}
h2{
    font-size: 3em;
}
.h1, h1 {
    font-size: calc(0.375rem + 2.5vw);
}


ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
  text-decoration: none;
}


header {
    width: 100%;
}
/* para index */
.header-index{
    height: 45em;
    background-image: url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2Fslide.png?v=1608057324213);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

/* maneja el color y posicion de la barra de navegación */
.header--menu {
    background-color: var(--turkery-intense);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
}
.logo {
  width: 50px;
  height: 50px ;
}
/* controla las caracteristicas de la palabra MENU */
.header--menu a {
/*     font-family: GT-Walsheim-Black; */
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.5rem;
    margin-left:0.5em;
}
.menu--information{
    color: var(--just-white);
    display: flex;
}
/* es el que controla el ancho de la imagen  */
/* .header-slide {
    width: 100%;
} */
.header-menu--content { 
  color: var(--just-white);
  font-size:40px;
  text-shadow: 0px 5px 4px rgba(18, 18, 18, 0.83);
  line-height: 50px;
  padding-left:1em;
}
header span {
  color: #5B94A0;
}
/* Necesita ser relative para poder mover el elemente con contiene */
.main-container {
    position: relative;
    height: auto;
}
/* Con absolute mueve el elemento y top posciona */
.main-content {
    position: inherit;
    width: 100%;
    height: auto;
    top: -14rem;
    /* flex-flow: row wrap; 	 */
	justify-content: center ; 
    align-content: stretch;
    display: flex;
    align-items: flex-end;
}
.main-content-container--right {
    /* width: 70%; */
    height: 1459px;
    background-color: var(--brown-soft);
    padding: 2em;
    /* ] */
    flex: 4 auto;
}
.main-container--top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.main-container--top div{
    margin: 10px;
}
.main-container--bottom div{
    margin: 10px;
}
.container--top-title h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
}
.container--text {

    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    text-align: justify;

}
.basic-button-description {
    background: var(--turkey);
    padding: 8px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    bottom: -20px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    left: calc(50% - 118px);
}
.main-container--bottom {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.main-content-container--left {
    flex: 1 auto;
    /* width: 30%; */
    height: 1359px;
    background-color: var(--brown-intense);
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
/* .main-container--left {
    width: 440px;
    height: 270px;
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    margin-top: 5rem;
}
.main-container--left div {
    background-image: url(../assets/video1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 413px;
    height: 239px;
    border-radius: 10px;
}
.main-container--left a{
    position: absolute;
} */
article.main-container--left {
    position: relative;
    background-color: var(--black);
    height: 250px;
    width: 416px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5rem;
}
.basic-button {
    position: absolute;
    background: var(--turkey);
    padding: 8px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    bottom: -20px;
    color: var(--just-white);
    font-weight: 700;
/*     font-size: 2rem; */
    font-size: 1rem;
    text-decoration: none;
}

.main--characteristics {
      position: relative;
      top: -14rem;
      margin: 4em auto;
      display: flex;
      justify-content: center;
}
.main--characteristics img {
    width: 618px;
    height: 357px;
}
.characteristics-details {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.characteristics-details--items {
  color: #4D6C73;
  font-size: 1.5em;
  line-height: 30px;
  line-height: 2em;
}
.characteristics-details--items spam {
    background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FEllipse.png?v=1608086612225);
    width: 13px;
    height: 13px;   
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
}
.characteristics-details--mensage{
    font-size: 2em;
    color: var(--turkery-intense);
    text-align: center;
    padding-top: 2em;
    font-weight: 700;
}

footer {
    font-size: 1em;
}
.footer-index {
      position: relative;
}
.footer-content--unidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    width: 100%;
    height: 18em;
    color: var(--just-white);
    background-color: var(--turkery-intense);
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
/*     align-items: center; */
    position: absolute;
    padding-bottom: 2em;
    top: -14em;
    width: 100%;
    height: 18em;
    color: var(--just-white);
    background-color: var(--turkery-intense);
}
footer spam {
  width: 50px;
  height: 51px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.instagram {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F6.svg?v=1608069521204);
}
.google {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F5.svg?v=1608069520682);
}
.koffie {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F4.svg?v=1608069520920);
}
.youtube{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F3.svg?v=1608069521063);
}
.twitch{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F2.svg?v=1608069520682);
}
.facebook{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F1.svg?v=1608069520845);
}
.twitter{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F0.svg?v=1608069520681);
}
.grupo{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FGroup.svg?v=1608072144325);
  width: 60px;
}
.simulacion{
  font-size: 1.5em;
  background-image:url();
  width: 60px;

}
.footer-icons{
    position: absolute;
    display: flex;
    width: inherit;
    justify-content: space-between;
    padding: 0 5em;
    z-index: 11;
}
.footer-icons-details {
  z-index: 10;
  text-align: center;
}

.main-unidades {
  margin: 2em 0 1em 4em;
  line-height: 2em;
  height:100%;
  width: auto;
}
.main-unidades-container{
  display: flex;
}
.main-unidades--h1 {
/*   font-family:; */
    font-size: 64px;
    line-height: 1.5em;
    letter-spacing: -.2px;
}

.main-content--unidades {
  margin-top: 1.5em;
  max-width: 875px;
}
.content-descripcion--unidades{
  margin-top: 1.5em;
}
.description--media{
  width: 875px;
  min-height: 482px;
  border: 27px solid #2B3238;
  border-radius: 10px;
  background-color: #2B3238;
  margin-bottom: 1em;
  height: auto;
  
}
.VideoAfter {
    z-index: 2;
    transition: all .25s ease-out;
    content: "";
    background-image: url(https://media.giphy.com/media/11v8gJRwB2fE3u/giphy.gif);

    cursor: pointer;
    top: 0;
    left: 0;
    display: flex;
}

.main-menu{
    
    width: 285px;
    min-height: 414px;
    height: auto;
    background-color: var(--brown-intense);
}
.menu--bar {
    width: 100%;
    height: 80px;
    background-color:var(--turkery-intense);
}
.menu-descripcion{
    padding: 1em;
    line-height: 1.5em;
}
.menu-descripcion ol{
    padding-left: 4em;
}
.menu-info--descripcion{
    display: flex;
    align-items: center;
}
.menu-info--descripcion spam{
    /*background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FEllipse%201.svg?v=1608109141713);*/
    width: 32px;
    height: 32px;   
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
    background-color: #F2A679;
    border-radius: 50%;
}


.aside-unidades{
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0px;
    z-index: 3;
    height: calc(115vh - 18rem);
    overflow-y: auto;
    border-radius: 5%;
}





.bolitas__container{
    margin: 2em 10em;    
     /*display: flex;
    align-items: center;
    justify-content: center;*/    
    width: auto;
    background-color: #5D736B;
    
    


}

.bolita__seccion{
    display: flex;
    padding: 20px;
    font-size: 13.4px;
    

}


.bolita__unidades{
    position: relative;
    color: #0d6efd;
    text-decoration: none;
    border-color: #0d6efd;
    padding: 4em;
    width: 10.5em;
    height: 10.5em;
    background-color:var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    animation-name: examplebolita;
    animation-duration: 4s;
    animation-direction: reverse;  

    
    

}

.tituloUnidad{
    font-family: GT-Walsheim-Black;
    font-size:2.8em;
    
    color:#E9E9E9;

}


.bolita__content{
    padding-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center; 
    
    

    
       
}

a.bolita__unidades:hover{
    background: #F2A679;
}


/* error unidad 3-------------------*/
.error{
    margin: 2em 10em;    
    background-color: #4D6C73;
    width: auto;
    
}



.error__container{
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}
.error__gif{
    height: 310px;
    background-image: url(https://media.giphy.com/media/P7PmvHY6kzAqY/giphy.gif);
    display: flex;
    width: 476px;
    background-repeat: no-repeat;
    background-size: contain;  

}
/*videos====================================*/
.videos__container{
    margin: 2em 2em;
   
    height: auto;
    width: auto;
    padding: 24px;
    border-bottom: solid #F2A679 ;

}
.videos__section{
    display: flex;
    padding: 20px;
    background-color: #0F4C59;
    flex-wrap: wrap;
    
}
.videos{
    position: relative;
    width: 378px;
    height: 222px;
    background-color:var(--black);
    border-radius: 5%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    padding: 1em;
    margin: 7px;
    background-size: contain; 
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.5); 
    animation-name: examplevideos;
    animation-duration: 2s;
    animation-direction: reverse; 
    

}
.videos iframe{
    width:100%;
}
#gif_6{
   
    width:100%;
    background-image: url(https://media.giphy.com/media/11jQqqyF4S5MWY/giphy.gif);
    background-repeat: no-repeat;
    background-size: contain; 
    

}

#carrito,
.bg-light
{
    background-color:var(--black)!important;
    background-size: var(--just-white)!important;
}
.navbar-light .navbar-nav,.navbar-light, .navbar-nav .show>.nav-link,.nav-item {
    color: var(--just-white)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--just-white)!important;
}

.nav-item:hover{
    background: #F2A679;
    border-radius: 5%;
}







.cont-Page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 2em;
    margin-bottom: 3em;
}

.contPage-Principal {
    position: relative;
    background-color: white;
    padding: 1em;
    margin: 1em 0 1em 0;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.5); 
    animation-name: examplevideos;
    animation-duration: 4s;
    animation-direction: reverse; 
}


.contPaga-Secundary {
    background-color: #bae8ff;
    padding: 1em;
    margin: 1em 0 1em 0;
}





.avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}














  @keyframes examplebolita {
    0%   {background-color:#F2A679; left:0px; top:0px;}
    50%  {background-color: var(--blue); left:200px; top:0px;}
    50%  {background-color:var(--just-white); left:200px; top:200px;}
    75%  {background-color:var(--turkery-intense); left:0px; top:200px;}
    100% {background-color:#4D6C73; left:0px; top:0px;}
  }

  @keyframes examplevideos {
    0%   {background-color:#F2A679; left:0px; top:0px;}
    25%  {background-color:var(--blue); left:100%; top:0px;}
    50%  {background-color:var(--just-white); left:100%; top:100%;}
    75%  {background-color:var(--turkery-intense); left:0px; top:100%;}
    100% {background-color:#4D6C73; left:0px; top:0px;}
  }