:root {
    --blue:#2B3238;
/*     --brown-soft:#F2EBDC; */
    --brown-soft:#FDFDFD;
/*     --brown-intense: #D9D2C5; */
    --brown-intense:#E9E9E9;
    --turkey: #4D6C73;
    --turkery-intense: #012E40;

    --black: #2B3238;
    --just-white:#F2EBDC;
}
html {
    font-family: 'Quicksand', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: GT-Walsheim-Black;
    src: url('../fuentes/GT-Walsheim-Black.ttf');
}
h1,h2,h3,h4,h5,h6 {
    font-family: GT-Walsheim-Black;
    color: var(--blue);
    

}
h2{
    font-size: 3em;
}


ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
  text-decoration: none;
}


header {
    width: 100%;
}
/* para index */
.header-index{
    height: 45em;
    background-image: url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2Fslide.png?v=1608057324213);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

/* maneja el color y posicion de la barra de navegación */
.header--menu {
    background-color: var(--turkery-intense);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
}
.logo {
  width: 50px;
  height: 50px ;
}
/* controla las caracteristicas de la palabra MENU */
.header--menu a {
/*     font-family: GT-Walsheim-Black; */
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.5rem;
    margin-left:0.5em;
}
.menu--information{
    color: var(--just-white);
    display: flex;
}
/* es el que controla el ancho de la imagen  */
/* .header-slide {
    width: 100%;
} */
.header-menu--content { 
  color: var(--just-white);
  font-size:40px;
  text-shadow: 0px 5px 4px rgba(18, 18, 18, 0.83);
  line-height: 50px;
  padding-left:1em;
}
header span {
  color: #5B94A0;
}
/* Necesita ser relative para poder mover el elemente con contiene */
.main-container {
    position: relative;
    height: auto;
}
/* Con absolute mueve el elemento y top posciona */
.main-content {
    position: inherit;
    width: 100%;
    height: auto;
    top: -14rem;
    /* flex-flow: row wrap; 	 */
	justify-content: center ; 
    align-content: stretch;
    display: flex;
    align-items: flex-end;
}
.main-content-container--right {
    /* width: 70%; */
    height: 1459px;
    background-color: var(--brown-soft);
    padding: 2em;
    /* ] */
    flex: 4 auto;
}
.main-container--top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.main-container--top div{
    margin: 10px;
}
.main-container--bottom div{
    margin: 10px;
}
.container--top-title h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
}
.container--text {

    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    text-align: justify;

}
.basic-button-description {
    background: var(--turkey);
    padding: 8px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    bottom: -20px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    left: calc(50% - 118px);
}
.main-container--bottom {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.main-content-container--left {
    flex: 1 auto;
    /* width: 30%; */
    height: 1359px;
    background-color: var(--brown-intense);
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
/* .main-container--left {
    width: 440px;
    height: 270px;
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    margin-top: 5rem;
}
.main-container--left div {
    background-image: url(../assets/video1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 413px;
    height: 239px;
    border-radius: 10px;
}
.main-container--left a{
    position: absolute;
} */
article.main-container--left {
    position: relative;
    background-color: var(--black);
    height: 250px;
    width: 416px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5rem;
}
.basic-button {
    position: absolute;
    background: var(--turkey);
    padding: 8px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    bottom: -20px;
    color: var(--just-white);
    font-weight: 700;
/*     font-size: 2rem; */
    font-size: 1rem;
    text-decoration: none;
}

.main--characteristics {
      position: relative;
      top: -14rem;
      margin: 4em auto;
      display: flex;
      justify-content: center;
}
.main--characteristics img {
    width: 618px;
    height: 357px;
}
.characteristics-details {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.characteristics-details--items {
  color: #4D6C73;
  font-size: 1.5em;
  line-height: 30px;
  line-height: 2em;
}
.characteristics-details--items spam {
    background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FEllipse.png?v=1608086612225);
    width: 13px;
    height: 13px;   
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
}
.characteristics-details--mensage{
    font-size: 2em;
    color: var(--turkery-intense);
    text-align: center;
    padding-top: 2em;
    font-weight: 700;
}

footer {
    font-size: 1em;
}
.footer-index {
      position: relative;
}
.footer-content--unidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    width: 100%;
    height: 18em;
    color: var(--just-white);
    background-color: var(--turkery-intense);
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
/*     align-items: center; */
    position: absolute;
    padding-bottom: 2em;
    top: -14em;
    width: 100%;
    height: 18em;
    color: var(--just-white);
    background-color: var(--turkery-intense);
}
footer spam {
  width: 50px;
  height: 51px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.instagram {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F6.svg?v=1608069521204);
}
.google {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F5.svg?v=1608069520682);
}
.koffie {
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F4.svg?v=1608069520920);
}
.youtube{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F3.svg?v=1608069521063);
}
.twitch{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F2.svg?v=1608069520682);
}
.facebook{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F1.svg?v=1608069520845);
}
.twitter{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2F0.svg?v=1608069520681);
}
.grupo{
  background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FGroup.svg?v=1608072144325);
  width: 60px;
}
.simulacion{
  font-size: 1.5em;
  background-image:url();
  width: 60px;

}
.footer-icons{
    position: absolute;
    display: flex;
    width: inherit;
    justify-content: space-between;
    padding: 0 5em;
    z-index: 11;
}
.footer-icons-details {
  z-index: 10;
  text-align: center;
}

.main-unidades {
  margin: 2em 0 1em 4em;
  line-height: 2em;
  height:100%;
  width: auto;
}
.main-unidades-container{
  display: flex;
}
.main-unidades--h1 {
/*   font-family:; */
    font-size: 64px;
    line-height: 1.5em;
    letter-spacing: -.2px;
}
.content-descripcion{
/*     line-height: 2em; */
}
.main-content--unidades {
  margin-top: 1.5em;
  max-width: 875px;
}
.content-descripcion--unidades{
  margin-top: 1.5em;
}
.description--media{
  width: 875px;
  min-height: 482px;
  border: 27px solid #2B3238;
  border-radius: 10px;
  background-color: #2B3238;
  margin-bottom: 1em;
  height: auto;
}
.VideoAfter {
    z-index: 2;
    transition: all .25s ease-out;
    content: "";
    background-image: url(https://media.giphy.com/media/11v8gJRwB2fE3u/giphy.gif);

    cursor: pointer;
    top: 0;
    left: 0;
    display: flex;
}




.paraMenu{
    /* flex-direction: column;
    flex-wrap: nowrap;
    /* margin-bottom: 3rem;
    padding-top: 2.5rem; */
    /* position: -webkit-sticky;
    position: sticky; */ 
}

.main-menu{
    
    width: 285px;
    min-height: 414px;
    height: auto;
    background-color: var(--brown-intense);
}
.menu--bar {
    width: 100%;
    height: 80px;
    background-color:var(--turkery-intense);
}
.menu-descripcion{
    padding: 1em;
    line-height: 1.5em;
}
.menu-descripcion ol{
    padding-left: 4em;
}
.menu-info--descripcion{
    display: flex;
    align-items: center;
}
.menu-info--descripcion spam{
    background-image:url(https://cdn.glitch.com/7707c4c3-014b-4ed8-b396-afb6a0dff28e%2FEllipse%201.svg?v=1608109141713);
    width: 32px;
    height: 32px;   
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
}
.aside-unidades{
    position: fixed;
    left: 65em;
}
